# Ignore Terraform cache files
terraform/ClusterCreation/.terraform/
terraform/ResourceDeployment/.terraform/

# Ignore Terraform state files
terraform/ClusterCreation/terraform.tfstate
terraform/ResourceDeployment/terraform.tfstate.backup

# Ignore crash logs
terraform/crash.log
